<html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<title>マルチプレイ メニュー</title>
</head>
<body>
    スタート <span id="user_name">{{user_name}}</span><br>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
